@media (max-width: 571px) {
  .header__wrapper {
    flex-direction: column;
  }

  .header__list ul {
    flex-direction: column;
    gap: 20px;
  }

  .btn,
  .hero__btn {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
  }

  .hero__wrapper {
    flex-direction: column;
    h2 {
      font-size: 28px;
      line-height: 36px;
    }
    p {
      font-size: 14px;
    }
  }

  .card-one {
    width: 100%;
  }

  .help__wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .card__wrapper {
    display: flex;
    flex-direction: column;
  }

  .company__wrapper {
    padding: 1400px 0;
  }

  .text__wrapper {
    flex-direction: column;
    text-align: center;
  }

  .about__wrapper {
    flex-direction: column;
    gap: 20px;
  }

  .cards {
    width: 100%;
    margin: 0 auto;
  }

  .company__logo {
    flex-direction: column;
    gap: 20px;
  }

  .email,
  .opinion,
  .info {
    width: 100%;
  }

  .footer__wrapper {
    flex-direction: column;
    text-align: center;
  }
}
