li a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 571px) {
  .header__wrapper {
    flex-direction: column;
  }
  .header__list ul {
    flex-direction: column;
    gap: 20px;
  }
  .btn,
  .hero__btn {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 10px;
  }
  .hero__wrapper {
    flex-direction: column;
  }
  .hero__wrapper h2 {
    font-size: 28px;
    line-height: 36px;
  }
  .hero__wrapper p {
    font-size: 14px;
  }
  .card-one {
    width: 100%;
  }
  .help__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .card__wrapper {
    display: flex;
    flex-direction: column;
  }
  .company__wrapper {
    padding: 1400px 0;
  }
  .text__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .about__wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .cards {
    width: 100%;
    margin: 0 auto;
  }
  .company__logo {
    flex-direction: column;
    gap: 20px;
  }
  .email,
  .opinion,
  .info {
    width: 100%;
  }
  .footer__wrapper {
    flex-direction: column;
    text-align: center;
  }
}
.header__container {
  max-width: 1278px;
  width: 90%;
  margin: 0 auto;
  padding: 27px;
}

.header {
  background: #302c42;
}

.hero {
  background: #302c42;
}

.hero__container {
  max-width: 1278px;
  width: 90%;
  margin: 0 auto;
  padding: 60px;
}

.help {
  background: #302c42;
}

.help__container {
  max-width: 1278px;
  width: 90%;
  margin: 0 auto;
  padding: 100px;
}

.text {
  background: #302c42;
}

.text__container {
  max-width: 1278px;
  width: 90%;
  margin: 0 auto;
  padding: 100px;
}

.about {
  background: #302c42;
}

.about__container {
  max-width: 1278px;
  width: 90%;
  margin: 0 auto;
  padding: 100px;
}

.card {
  background: #302c42;
}

.card__container {
  max-width: 1278px;
  height: 716px;
  width: 90%;
  margin: 0 auto;
  padding: 60px;
}

.company {
  background: #302c42;
}

.company__container {
  max-width: 1278px;
  height: 716px;
  width: 90%;
  margin: 0 auto;
  padding: 60px;
}

.sign-up {
  background: #302c42;
  display: block;
}

.sign-up__container {
  max-width: 1278px;
  height: 716px;
  width: 90%;
  margin: 0 auto;
  background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 1275px;
  height: 1090px;
  top: 3351px;
  left: 94px;
  border-radius: 30px 30px 30px 30px;
}

.footer {
  background: #302c42;
}

.footer__container {
  max-width: 1278px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__list ul {
  display: flex;
  gap: 42px;
}

.header__list ul a {
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  text-align: left;
}

.btn {
  width: 154px;
  height: 48px;
  top: 56px;
  left: 1009px;
  gap: 0px;
  border-radius: 40px 40px 40px 40px;
  opacity: 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  text-align: left;
  background-color: inherit;
  border-color: #ffffff;
  padding-left: 12%;
}

.btn:hover {
  width: 154px;
  height: 48px;
  top: 56px;
  left: 1009px;
  gap: 0px;
  border-radius: 40px 40px 40px 40px;
  opacity: 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  text-align: left;
  padding-left: 12%;
  background: #b2a7e0;
  transition: background-color 2s ease;
  cursor: pointer;
  border: none;
}

.hero__btn {
  width: 214px;
  height: 48px;
  top: 56px;
  left: 1009px;
  gap: 0px;
  border-radius: 40px 40px 40px 40px;
  opacity: 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  text-align: left;
  background-color: inherit;
  border-color: #ffffff;
  padding-left: 3%;
  display: flex;
  justify-content: center;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid #ffffff;
}

.hero__btn:hover {
  width: 214px;
  height: 48px;
  top: 56px;
  left: 1009px;
  gap: 0px;
  border-radius: 40px 40px 40px 40px;
  opacity: 0px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
  text-align: left;
  background: #b2a7e0;
  transition: background-color 2s ease;
  cursor: pointer;
  border: none;
}

.hero__btn__wrapper {
  padding: 40px 0;
  display: flex;
  gap: 11px;
  align-items: center;
  justify-content: center;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__wrapper h2 {
  font-size: 46px;
  font-weight: 700;
  line-height: 56.07px;
  text-align: left;
  color: #ffffff;
}
.hero__wrapper p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}

.hero__span {
  color: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
  font-size: 46px;
  font-weight: 700;
  line-height: 56.07px;
  text-align: left;
}

.card-one {
  display: flex;
  align-items: center;
  width: 349px;
  height: 109px;
  gap: 0px;
  border-radius: 90px 90px 90px 90px;
  opacity: 0px;
  background: radial-gradient(50% 2900.76% at 50% 53.89%, rgba(58, 52, 86, 0.95) 0%, #211e2e 100%);
  justify-content: center;
  gap: 34px;
}
.card-one p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.26px;
  text-align: left;
}

.help__wrapper {
  display: flex;
  gap: 82px;
}

.skip {
  display: flex;
  align-items: center;
  gap: 30px;
}

.text__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.text__wrapper h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-align: left;
}
.text__wrapper span {
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
  text-align: left;
}
.text__wrapper p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}

.about__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 110px;
}
.about__wrapper h2 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-align: left;
}
.about__wrapper span {
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
  text-align: left;
}
.about__wrapper p {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
}

.cards {
  width: 300px;
  height: 500px;
  background-color: #2f2e46;
  border-radius: 20px;
  padding: 20px 0;
  text-align: center;
  color: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.cards img {
  width: 219px;
  height: 219px;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards h2 {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 1px;
}

.cards p {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  color: #ccccd4;
}

.card__wrapper {
  display: flex;
  gap: 11px;
}

.cards {
  background-color: #2c2f48;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
  overflow: hidden;
  border: 2px solid transparent;
}

.cards::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 15px;
  border: 3px solid transparent;
  background: linear-gradient(45deg, #f093fb, #f5576c, #4facfe, #00f2fe);
  background-size: 300% 300%;
  z-index: -1;
  transition: 0.5s;
}

.cards:hover::before {
  animation: glow 2s infinite;
  border: 3px solid #ffffff;
}

.cards:hover {
  transform: translateY(-10px);
}

@keyframes glow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.company__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.company__text h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-align: left;
  color: #ffffff;
}
.company__text span {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
  text-align: left;
  color: #ffffff;
}

.company__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.company__logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.logo {
  transition: all 0.3s ease-in-out;
  filter: brightness(0.8);
}

.logo:hover {
  transform: scale(1.1);
  filter: brightness(1.5) drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.05);
  }
}
.line {
  width: 414px;
  height: 1px;
  border-image-source: linear-gradient(270deg, #343045 0%, #c0b7e8 34.9%, #8176af 68.75%, #343045 100%);
  margin: 20px auto;
}

.info {
  width: 524px;
  height: 72px;
  top: 3645px;
  left: 201px;
  gap: 0px;
  border-radius: 40px 40px 40px 40px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  padding-left: 4%;
  background-color: inherit;
}

.email {
  width: 1058px;
  height: 72px;
  top: 3861px;
  left: 201px;
  gap: 0px;
  border-radius: 40px 40px 40px 40px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  padding-left: 2%;
  color: #ffffff;
  background-color: inherit;
}

.opinion {
  width: 1058px;
  height: 210px;
  top: 3966px;
  left: 200px;
  gap: 0px;
  border-radius: 40px 40px 40px 40px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  border: 2px solid #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  text-align: left;
  color: #ffffff;
  padding-left: 2%;
  background-color: inherit;
}

.sign-up__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-1 {
  gap: 10px;
  display: flex;
  padding: 39px;
}

.sign-up__text h2 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 700;
  line-height: 43.88px;
  text-align: left;
  color: #ffffff;
  text-align: center;
}
.sign-up__text span {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 300;
  line-height: 43.88px;
  text-align: left;
  color: #ffffff;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__wrapper a {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  color: #ffffff;
}
.footer__wrapper h4 {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.5px;
  text-align: left;
  color: #ffffff;
}
.footer__wrapper .img {
  padding: 10px 0;
}

.footer-end__wrapper span {
  display: flex;
  justify-content: center;
  padding: 49px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.07px;
  letter-spacing: 0.13em;
  text-align: left;
  color: #ffffff;
}
.footer-end__wrapper .footer__wrapper {
  display: flex;
  padding: 2000px 0;
}
.footer-end__wrapper .help__container {
  display: flex;
  justify-content: flex-start;
}
.footer-end__wrapper .sign-up input {
  display: none;
}/*# sourceMappingURL=main.css.map */